*{
    margin: 0;
}
.main{
    text-align: center; 
    background-color: black;
    height: 100vh;
    width: 100%;
    padding-top: 20%;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}
